button,
button:focus,
button:active {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: none !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  filter: none !important;
}
